<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
<br />
<h3 class="gramsh3">Grams!</h3>
  <% @grams.reverse.each do |gram| %>
  <div class="card">
    <div class="handle"><%= gram.user.try(:email) %></div>
    <%= image_tag gram.picture, class: 'img-fluid' %>
    <p>
      <%= gram.message %>
    </p>

    <div class="gram-actions float-right">
      <% if current_user && current_user == gram.user %>
        <%= link_to 'Edit', edit_gram_path(gram) %>
        <%= link_to 'Delete', gram_path(gram), method: :delete, data: {confirm: 'Are you sure you want to delete this gram?'} %>
      <% end %>
    </div>
    <!--br class="clear-fix" /-->
    <div class="comments">
      <h4>Comments</h4>

      <h5>Add a Comment</h5>
      <%= simple_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
        <%= f.input :message %>
        <%= f.submit 'Add Your Comment', class: 'my-btn' %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>